html {
    display: block;
}

head {
    display: none;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

body, html {
height: 100%;
margin: 0;
padding: 0;
min-width: 400px;
}

body {
    background: #fff;
}

body, input, button {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #222;
}

.navbar {
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;
}

.navbar2 {
    display: inline-block;
    flex-grow: 1;
}

.navbar3 {
    min-width: auto;
    font: 13px/27px Roboto,RobotoDraft,arial,sans-serif;
    z-index: 986;
    height: 48px;
    position: relative;
    transition: box-shadow 250ms;
}

.navgroup {
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    padding-left: 0;
    flex: 0 0 auto;
    justify-content: flex-end;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    float: right;
}

.navlinks1 {
    font-family: arial, sans-serif;
    padding: 15px;
    line-height: normal;
}

.gilinks {
    display: inline-block;
    padding-left: 15px;
}

.agilinks {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.navbuttons {
    float: right;
    position: relative;
}