body {
    font-family: Roboto, RobotoDraft, Helvetica, arial, sans-serif;
    margin: 0;
}

div {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,0.87)
}
a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    padding-right: 4px;
    
}

form {
    display: block;
    margin-top: 0em;
}

.linkgmail {
    display: inline-block;
    margin-right: 4px;
    line-height: 24px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
}

.linkimages {
    display: inline-block;
    margin-right: 4px;
    line-height: 24px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
}

.linkapp {
    padding: 4px;
    display: inline;
}

.linkapps {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
}

.linkapps:hover {
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
    opacity: 1;
}

.appssvg {
    width: 24px;
    height: 24px;
    padding-left: 3px;
    padding-top: 3px;
}

.linksignin {
    display: inline-block;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.linksignin:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

.silink:hover {
    text-decoration: none;
}

.silink {
    color: #fff;
}

.logoflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
}

.logodiv {
    max-height: 92px;
    display: block;
    margin-top: auto;
    height: 100%;
}

.logo {
    height: 92px;
}