body {
    font-family: Roboto, RobotoDraft, Helvetica, arial, sans-serif;
    margin: 0;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    cursor: text;
    font: 400 16px Arial
}

div {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0,0,0,0.87)
}
a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    padding-right: 4px;
    
}

form {
    display: block;
    margin-top: 0em;
}

.linkgmail {
    display: inline-block;
    margin-right: 4px;
    line-height: 24px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
}

.linkimages {
    display: inline-block;
    margin-right: 4px;
    line-height: 24px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 400;
}

.linkapp {
    padding: 4px;
    display: inline;
}

.linkapps {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    vertical-align: middle;
}

.linkapps:hover {
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
    opacity: 1;
}

.appssvg {
    width: 24px;
    height: 24px;
    padding-left: 3px;
    padding-top: 3px;
}

.linksignin {
    display: inline-block;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans, Roboto, RobotoDraft, Helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 8px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.linksignin:hover {
    background: #2b7de9;
    box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
}

.silink:hover {
    text-decoration: none;
}

.silink {
    color: #fff;
}

.logoflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
}

.logodiv {
    max-height: 92px;
    display: block;
    margin-top: auto;
    height: 100%;
}

.logo {
    height: 92px;
}

.searchbar {
    width: auto;
    max-width: 584px;
    position: relative;
    margin:0 auto;
    padding-top: 6px;
}

.searchbar2 {
    width: auto;
    max-width: 584px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3px;
    height: 44px;
    margin: 0 auto;
}

.searchbar3 {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.searchbar4 {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.magnifier {
    height: auto;
}

.magnifier2 {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: inline-block;
    fill: currentColor;
}

.magsvg {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.searchbar5 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar6 {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

.searchinput {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.87);
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.clear {
    display: flex;
    padding-right: 4px;
    align-items: center;
    border: 0;
    padding: 0 8px;
    line-height: 44px;
}

.micro {
    display: flex;
    flex: 1 0 auto;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
    padding-bottom: 3px;
}

.microsvg {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.buttons {
    height: 70px;
}

.buttonsearch {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.buttonsearch:hover {
    box-shadow: 0 1px 1px rgb(0,0,0,10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.buttonlucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.buttonlucky:hover {
    box-shadow: 0 1px 1px rgb(0,0,0,10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.spacer {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

.spacer2 {
    font-size: small;
    margin-bottom: 24px;
    text-align: center;
}

.spacer3 {
    display: inline-block;
    line-height: 28px;
}

.lang {
    color: #1a0dab;
    text-decoration: none;
}

.foot {
    background: #f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,0.54)
}

@media only screen and (max-width:1200px) {

.foot2 {
    justify-content: space-evenly;
}

}

.foot2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.foot3 {
    display: flex;
    flex-wrap: wrap;
}

.af {
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.foot4 {
    display: flex;
    flex-wrap: wrap;
}